:root {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow:2px 2px 5px grey;
  font-family:"Josefin Sans", sans-serif;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

div p {
  font-weight: bold;
}